<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>MuBA - Museos de Buenos Aires</name>

    <description>
       MuBA es una aplicacion para ver los diferentes Museos De Buenos Aires.

Creador: Alan - Hindle 
Para: Universidad Maimonides 
    </description>

    <author href="https://build.phonegap.com" email="alan_hindle@hotmail.com">
        Alan Hindle
    </author>

<icon src="res/icon/android/mipmap-mdpi/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="res/icon/android/mipmap-hdpi/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="res/icon/android/mipmap-xhdpi/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
<icon src="res/icon/android/mipmap-xxhdpi/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />



<!-- DEfinimos el splash para cada plataforma. -->
<gap:splash src="splash.png"/>
<gap:splash src="res/screen/android/res-long-port-ldpi/default.png" gap:platform="android" gap:qualifier="port-ldpi" />
<gap:splash src="res/screen/android/res-long-port-mdpi/default.png" gap:platform="android" gap:qualifier="port-mdpi" />
<gap:splash src="res/screen/android/res-long-port-hdpi/default.png" gap:platform="android" gap:qualifier="port-hdpi" />
<gap:splash src="res/screen/android/res-long-port-xhdpi/default.png" gap:platform="android" gap:qualifier="port-xhdpi" />


</widget>